$add-item-color: #4fbee1;
$grocery-color: #92f059;
$wishlist-color: #be7cf0;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #f8f8f8;
}

#app {
	width: 80vw;
	max-width: 1300px;
	margin: auto;
	margin-top: 3em;
}

.container {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1.5fr;
	grid-template-areas: 'add-item grocery-list';
	gap: 2em;
}

h2 {
	display: inline-block;
	padding: 0.3em 1.5em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

section#add-item {
	grid-area: add-item;

	h2 {
		background-color: rgba($color: $add-item-color, $alpha: 0.4);
		border: 2px solid $add-item-color;
	}

	form {
		background-color: white;
		border: 2px solid $add-item-color;
		border-radius: 5px;
		border-top-left-radius: 0;
		margin-top: -2px;
		padding: 1.5em;

		label {
			display: block;
		}

		input {
			font-size: 1.2em;
			padding: 0.5em;
			width: 100%;
			margin-bottom: 1em;
			margin-top: 0.2em;
		}

		.quantity-box {
			display: flex;
			align-items: center;
			font-size: 1.2em;

			.quantity-counter {
				margin: 0 0.5em;
			}

			select {
				margin-left: 1em;
				padding: 0.2em;
				font-size: 0.8em;
			}
		}

		.add-buttons {
			display: flex;
			justify-content: space-evenly;
			width: 100%;
			margin-top: 2em;

			button {
				font-size: 1.2em;
				padding: 0.5em 1.5em;
				margin: 0 0.5em;
				border-radius: 5px;
				transition: all 0.1s ease-out;

				&.grocery-btn {
					background-color: rgba($color: $grocery-color, $alpha: 0.4);
					border: 2px solid $grocery-color;

					&:hover {
						background-color: rgba($color: $grocery-color, $alpha: 0.8);
					}
				}

				&.wishlist-btn {
					background-color: rgba($color: $wishlist-color, $alpha: 0.4);
					border: 2px solid $wishlist-color;

					&:hover {
						background-color: rgba($color: $wishlist-color, $alpha: 0.8);
					}
				}
			}
		}
	}
}

section#grocery-list {
	grid-area: grocery-list;
	height: 80vh;

	h2 {
		background-color: rgba($color: $grocery-color, $alpha: 0.4);
		border: 2px solid $grocery-color;
	}

	.list-heading {
		display: flex;

		h2 {
			margin-right: 1em;
		}
	}

	.list {
		background-color: white;
		border: 2px solid $grocery-color;
		border-radius: 5px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-top: -2px;
		padding: 1.5em;
	}
}

@media (max-width: 1025px) {
	#app {
		width: 95vw;
	}

	.container {
		grid-template-areas:
			'add-item add-item'
			'grocery-list grocery-list';
	}

	section#grocery-list {
		height: unset;
	}
}
